version: "3.9"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  vector:
    image: timberio/vector:0.35.0-alpine
    volumes:
      - ./vector.toml:/etc/vector/vector.toml:ro
      - ../../tmp-runtime/logs:/var/log:ro
    depends_on:
      - elasticsearch

volumes:
  elasticsearch_data:
