version: '3.9'

services:
  api:
    build: .
    image: memalerts-backend:prod
    env_file: .env
    ports:
      - '3001:3001'
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    restart: unless-stopped
